body {
  margin: 0;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  background-color: #0d012c;
  color: #adb5d3;

}


html,
body,
#root {
  min-height: 100%; /* fallback for IE and older browsers */
  height: 100%;
}
